body {
  background: url("/Guns/assets/bg.jpg");
  background-size: cover;
  color: white;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: rgba(0,0,0,0.6);
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 2px solid white;
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
} 
